<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#SQL-Alchemy" data-toc-modified-id="SQL-Alchemy-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>SQL Alchemy</a></span><ul class="toc-item"><li><span><a href="#Installation" data-toc-modified-id="Installation-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Installation</a></span><ul class="toc-item"><li><span><a href="#Option-1" data-toc-modified-id="Option-1-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>Option 1</a></span></li><li><span><a href="#Option-2" data-toc-modified-id="Option-2-1.1.2"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span>Option 2</a></span></li><li><span><a href="#Option-3" data-toc-modified-id="Option-3-1.1.3"><span class="toc-item-num">1.1.3&nbsp;&nbsp;</span>Option 3</a></span></li><li><span><a href="#Important-Note" data-toc-modified-id="Important-Note-1.1.4"><span class="toc-item-num">1.1.4&nbsp;&nbsp;</span>Important Note</a></span></li></ul></li><li><span><a href="#What-is-SQL-Alchemy" data-toc-modified-id="What-is-SQL-Alchemy-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>What is SQL Alchemy</a></span></li><li><span><a href="#Creating-the-engine" data-toc-modified-id="Creating-the-engine-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Creating the engine</a></span></li><li><span><a href="#Getting-a-connection" data-toc-modified-id="Getting-a-connection-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Getting a connection</a></span></li><li><span><a href="#Running-queries" data-toc-modified-id="Running-queries-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Running queries</a></span><ul class="toc-item"><li><span><a href="#Running-Raw-Queries" data-toc-modified-id="Running-Raw-Queries-1.5.1"><span class="toc-item-num">1.5.1&nbsp;&nbsp;</span>Running Raw Queries</a></span></li><li><span><a href="#Getting-data-from-the-result" data-toc-modified-id="Getting-data-from-the-result-1.5.2"><span class="toc-item-num">1.5.2&nbsp;&nbsp;</span>Getting data from the result</a></span><ul class="toc-item"><li><span><a href="#Getting-the-first-row" data-toc-modified-id="Getting-the-first-row-1.5.2.1"><span class="toc-item-num">1.5.2.1&nbsp;&nbsp;</span>Getting the first row</a></span></li><li><span><a href="#Get-all-rows" data-toc-modified-id="Get-all-rows-1.5.2.2"><span class="toc-item-num">1.5.2.2&nbsp;&nbsp;</span>Get all rows</a></span></li><li><span><a href="#Iterate-through-the-first-column" data-toc-modified-id="Iterate-through-the-first-column-1.5.2.3"><span class="toc-item-num">1.5.2.3&nbsp;&nbsp;</span>Iterate through the first column</a></span></li><li><span><a href="#Getting-the-first-column-in-a-list" data-toc-modified-id="Getting-the-first-column-in-a-list-1.5.2.4"><span class="toc-item-num">1.5.2.4&nbsp;&nbsp;</span>Getting the first column in a list</a></span></li></ul></li><li><span><a href="#Using-it-as-ORM" data-toc-modified-id="Using-it-as-ORM-1.5.3"><span class="toc-item-num">1.5.3&nbsp;&nbsp;</span>Using it as ORM</a></span></li><li><span><a href="#More-examples-on-raw-queries" data-toc-modified-id="More-examples-on-raw-queries-1.5.4"><span class="toc-item-num">1.5.4&nbsp;&nbsp;</span>More examples on raw queries</a></span></li></ul></li><li><span><a href="#Summary" data-toc-modified-id="Summary-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>Summary</a></span></li><li><span><a href="#CFU" data-toc-modified-id="CFU-1.7"><span class="toc-item-num">1.7&nbsp;&nbsp;</span>CFU</a></span></li></ul></li><li><span><a href="#Bonus:-MySQL-Connector" data-toc-modified-id="Bonus:-MySQL-Connector-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Bonus: MySQL Connector</a></span><ul class="toc-item"><li><span><a href="#Installation:" data-toc-modified-id="Installation:-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Installation:</a></span></li><li><span><a href="#Establishing-a-Connection:" data-toc-modified-id="Establishing-a-Connection:-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Establishing a Connection:</a></span></li><li><span><a href="#Creating-a-Cursor:" data-toc-modified-id="Creating-a-Cursor:-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Creating a Cursor:</a></span></li><li><span><a href="#Executing-SQL-Queries:" data-toc-modified-id="Executing-SQL-Queries:-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Executing SQL Queries:</a></span><ul class="toc-item"><li><span><a href="#Example:-CoffeeShop-DB-üìí‚òï" data-toc-modified-id="Example:-CoffeeShop-DB-üìí‚òï-2.4.1"><span class="toc-item-num">2.4.1&nbsp;&nbsp;</span>Example: CoffeeShop DB üìí‚òï</a></span></li></ul></li><li><span><a href="#Closing-the-Connection:" data-toc-modified-id="Closing-the-Connection:-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Closing the Connection:</a></span></li></ul></li></ul></div>

# SQL Alchemy

In [1]:
!conda install sqlalchemy -y

Retrieving notices: ...working... done
Channels:
 - defaults
Platform: win-64
Collecting package metadata (repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\matth\anaconda3

  added / updated specs:
    - sqlalchemy


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    conda-24.5.0               |  py311haa95532_0         1.2 MB
    frozendict-2.4.2           |  py311haa95532_0          38 KB
    openssl-3.0.13             |       h2bbff1b_2         7.5 MB
    ------------------------------------------------------------
                                           Total:         8.7 MB

The following NEW packages will be INSTALLED:

  frozendict         pkgs/main/win-64::frozendict-2.4.2-py311haa95532_0

The following packages will be UPDATED:

  conda                              24.4.0-py311haa95532_0 --> 24.5.0-py311haa95532_0
  openssl                                 3.0.13-h2bbff1b_1 --> 3.0.13-h2bbff1b_2



Downloading and Extracting Packages: ...working... done
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

In [2]:
!conda install pymysql -y

Channels:
 - defaults
Platform: win-64
Collecting package metadata (repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\matth\anaconda3

  added / updated specs:
    - pymysql


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    pymysql-1.0.2              |  py311haa95532_1          99 KB
    ------------------------------------------------------------
                                           Total:          99 KB

The following NEW packages will be INSTALLED:

  pymysql            pkgs/main/win-64::pymysql-1.0.2-py311haa95532_1



Downloading and Extracting Packages: ...working... done
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

## Installation

For this lesson, you must install the libraries `SQLAlchemy` and `PyMySql` on your computers.
There are several ways to do this installation:

### Option 1

- Open a new Jupyter notebook
- Open a new code cell and type:

```shell
!conda install sqlalchemy -y
```

or if you're using pip+venv

```shell
!pip install sqlalchemy
```

- Open a new code cell and type:

```shell
!conda install pymysql -y
```

or if you're using pip+venv

```shell
!pip install pymysql
```

### Option 2

Alternatively you can go to the `Anaconda navigator`, and click on the `Environments` section on the left panel. Then:

- On the search bar type: `sqlalchemy`
- If this library doesn't appear as installed click on the checkbox and then on `Apply`, accept the `dependencies` and wait until the system installs the library
- On the search bar type: `pymysql`
- If this library doesn't appear as installed click on the checkbox and then on `Apply`, accept the `dependencies` and wait until the system installs the library

### Option 3

‚ùóÔ∏è If you use this third option, you will first have to save and close your Jupyter notebook, then run the instructions below and open again the Jupyter notebook.


- Open a new terminal (MacOS/Linux) or the Anaconda Powershell prompt and type

```shell
conda install sqlalchemy -y
```

or if you're using pip+venv, **make sure that you have your venv environment activated and type:**

```shell
pip install sqlalchemy
```

- Open a new code cell and type:

```shell
conda install pymysql -y
```

or if you're using pip+venv **make sure that you have your venv environment activated and type:**

```shell
pip install pymysql
```

### Important Note


**Upgrading to SQLAlchemy Version 2.0**:

The new version 2.0 of SQLAlchemy introduces significant API changes compared to the 1.4 series. Given these changes, it's crucial to ensure you have the latest version installed, especially if you plan to follow along with classes or tutorials that use the newest features of the library.

To get started, follow these steps:

1. **Check Your Current Version**:
   Before making any changes, it's wise to check your currently installed version of SQLAlchemy.
   
   If you're using conda as a package manager:
   
   ```bash
   conda list sqlalchemy | tail -1 | awk '{print $2}'
   ```
   
   If you're using pip as a package manager:
   
   ```bash
   pip show sqlalchemy | grep Version
   ```


2. **Upgrade to Version 2.0 (if necessary)**:
   If your current version is in the 1.x series instead of 2.x, you should upgrade to the latest version.
   
   If you're using conda:
   
   ```bash
   conda update sqlalchemy
   ```
   
   If you're using pip:
   
   ```bash
   pip install --upgrade sqlalchemy
   ```

## What is SQL Alchemy

SQLAlchemy is a popular SQL toolkit and Object-Relational Mapping (ORM) library for Python. It provides a set of high-level APIs to connect to relational databases. Using SQLAlchemy, you can work with relational databases in a more Pythonic way, abstracting away many of the common database operations. Here's a breakdown of its main features:

1. **ORM (Object-Relational Mapping)**:
   - Allows classes to be mapped to database tables, so you can use Python objects to represent database rows.
   - Provides a high-level, abstracted pattern for CRUD (Create, Read, Update, Delete) operations.
   - Automates the process of synchronizing object states with database content.

2. **SQL Expression Language**:
   - A comprehensive SQL abstraction tool that allows you to build SQL queries using Python expressions.
   - Gives you the power and flexibility of raw SQL, but in a more Pythonic way.

3. **Engine**:
   - Provides a source of connectivity to a database, which can be fine-tuned for the specific database dialect.
   - Manages connection pooling, which is crucial for scalable applications.

4. **Dialects**:
   - SQLAlchemy supports a variety of database backends by using dialects. Commonly used database systems like PostgreSQL, MySQL, SQLite, and Oracle have their own dialects in SQLAlchemy.

5. **Schema and Types**:
   - SQLAlchemy provides a way to declare table structures and relationships directly in Python, which can then be used to automatically create (or drop) database structures.
   - Offers a broad set of SQL standard and vendor-specific datatypes.

6. **Session**:
   - Manages the persistence operations for ORM-mapped objects.
   - Acts as a transactional buffer, accumulating changes and flushing them to the database in a batch.

## Creating the engine

**Connecting to a Database using SQLAlchemy**:

To connect to a database, we need to set up an SQLAlchemy "engine". Think of this engine as a bridge or gateway between your Python application and the actual database.

The SQLAlchemy engine provides a standard way to interact with the database and execute SQL statements. It achieves this by managing a set of database connections and using a "dialect" specific to your database.

To get an engine, we use:

```python
sqlalchemy.create_engine(connection_string)
```

To create the *connection string*, this is the general syntax **`'dialect+driver://username:password@host:port/database'`**

In [7]:
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine
import getpass  # To get the password without showing the input
password = getpass.getpass()

# Note that when you use _SQLAlchemy_ and establish the connection, you do not even need to be logged in Sequel Pro or MySQL Workbench.

 ¬∑¬∑¬∑¬∑¬∑¬∑¬∑¬∑

In [9]:
bd = "bank"
connection_string = 'mysql+pymysql://root:' + password + '@localhost/'+bd
engine = create_engine(connection_string)
engine

Engine(mysql+pymysql://root:***@localhost/bank)

This password policy is used only for illustrative purposes and to be simple. However, we shouldn't store the password in the Jupyter notebook variable. There are other safer ways to do this as shown [here](https://towardsdatascience.com/keeping-credentials-safe-in-jupyter-notebooks-fbd215a8e311) and [here](https://dadoverflow.com/2019/08/09/how-do-you-hide-secrets-in-jupyter-notebooks/)

## Getting a connection

We get a connection using the `connect()` method.

```python
connection = engine.connect()
```

It's better practice though to use context managers to manage the connect/release process:

```python
with engine.connect() as connection:
    ...

```

## Running queries

The SQLAlchemy Connection features an `.execute()` method that will run queries.

```python
with engine.connect() as connection:
    connection.execute(...)
    ...

```

The `Connection.execute()` always returns a `sqlalchemy.engine.Result` object.

### Running Raw Queries

To invoke a textual query, use the `sqlalchemy.text()` passed to `.execute()`.

In [11]:
from sqlalchemy import text

with engine.connect() as connection:
    query = text('SELECT * FROM loan')
    result = connection.execute(query)

result

In this specific case the `Result` its called `CursorResult`.

The `Result` object has many methods we can use. Let's look at some of them.

### Getting data from the result

#### Getting the first row

- `.first()`: returns the first row and closes the result set. The row is a `sqlaclhemy.engine.Row` object.

The `Row` object looks and acts mostly like a named tuple:

In [13]:
result.first()

(5314, 1787, 930705, 96396, 12, 8033.0, 'B')

**Note**: if we were to call another method on result, we might encounter an error. To avoid errors:

- Ensure that you're not trying to fetch rows from the result object more than once.
- If you're using a context for the connection, make sure all operations related to the result object are done within that context.

#### Get all rows

Let's look at different ways of getting all rows from a query.

In [15]:
with engine.connect() as connection:
    query = text('SELECT * FROM loan')
    result = connection.execute(query)
    df = pd.DataFrame(result.all())
    
df

     loan_id  account_id    date  amount  duration  payments status
0       5314        1787  930705   96396        12    8033.0      B
1       5316        1801  930711  165960        36    4610.0      A
2       6863        9188  930728  127080        60    2118.0      A
3       5325        1843  930803  105804        36    2939.0      A
4       7240       11013  930906  274740        60    4579.0      A
..       ...         ...     ...     ...       ...       ...    ...
677     4989         105  981205  352704        48    7348.0      C
678     5221        1284  981205   52512        12    4376.0      C
679     6402        6922  981206  139488        24    5812.0      C
680     5346        1928  981206   55632        24    2318.0      C
681     6748        8645  981208  240900        60    4015.0      C

[682 rows x 7 columns]

#### Iterate through the first column

We can use the method `.scalars()` which gives a `ScalarResult`.

#### Getting the first column in a list

We can call the `.all()` method after the `.scalars()` method.

### Using SQLAlchemy as an ORM

The idea behind ORM (object-relational mapping) is to create a code representation of your database using classes and objects instead of writing raw SQL statements. The classes represent the tables in your database, and the objects of those classes represent rows. So the first step to using ORM is to define classes that map to your tables. Classes that represent tables in an ORM are called models.

We won't be diving into it during the bootcamp, but feel free to [read the docs](https://docs.sqlalchemy.org/en/20/tutorial/) to learn how to use it!

### More examples on raw queries

Let's get how many loans were granted every year, and the month of each duration.

## Summary

As you can see, launching queries from Python against a SQL database involves several steps:

- Create the `engine`:
    ```python
    connection_string = 'dialect+driver://username:password@host:port/database'
    engine = sqlalchemy.create_engine(connection_string)
    ```
- Getting a `connection`
    ```python
    with engine.connect() as connection:
        ...
    ```
- Create a string with the query and put it inside `text()` method
- Launch the query with `execute()` method
- Get data from the Result object as needed

For example, if we want the whole result from our `SELECT` query, we could do:

```python
with engine.connect() as connection:    
    query = text('SELECT ...')
    result = connection.execute(query)
    df = pd.DataFrame(result.all())
    
df # Do stuff with the DataFrame
```


Some guidelines when creating functions:

- Try to make your functions as self contained as possible
- Try to make your functions as general as possible (use optional arguments if needed)
- Test your Python functions!

# Bonus: MySQL Connector

MySQL Connector/Python is an official MySQL client library for Python. It allows Python programs to connect and interact with MySQL databases.

- Suitable for scripts or applications that need a straightforward way to connect to a MySQL database and execute queries.
- Specific to MySQL.
- Focused on providing a direct connection to MySQL, so while it's efficient for that purpose, it lacks the broader features and abstractions of an ORM like SQL Alchemy.
- Operates at a lower level. You work directly with SQL queries, and the results you get back are typically in the form of rows and columns, rather than structured Python objects.


## Installation:
Before we start, ensure you have `mysql-connector-python` installed. 

If you're using conda as your package manager:

```bash
conda install mysql-connector-python -y
```

or if you're using pip as your package manager:

```bash
pip install mysql-connector-python
```

In [ ]:
!conda install mysql-connector-python -y

## Establishing a Connection:
To connect to a MySQL database, you need the host name (or IP address), the database name, and the credentials (username and password).

```python
import mysql.connector

conn = mysql.connector.connect(
    host="localhost",
    user="your_username",
    password="your_password",
    database="your_database_name"
)
```

In [17]:
import mysql.connector

In [19]:
import getpass  # To get the password without showing the input
password = getpass.getpass()

 ¬∑¬∑¬∑¬∑¬∑¬∑¬∑¬∑

In [29]:
conn = mysql.connector.connect(host='localhost',
                        user='root',
                        passwd=password, database = "bank")

## Creating a Cursor:
A cursor object allows you to execute SQL queries and fetch results.

```python
cursor = conn.cursor()
```

In [31]:
cursor = conn.cursor()

cursor

## Executing SQL Queries:
Using the cursor, you can execute any SQL statement.

**SELECT Statement:**

```python
cursor.execute("SELECT * FROM your_table_name")
rows = cursor.fetchall()

for row in rows:
    print(row)
```

**INSERT Statement:**

```python
sql = "INSERT INTO your_table_name (column1, column2) VALUES (%s, %s)"
values = ("value1", "value2")

cursor.execute(sql, values)
conn.commit()  # Save the changes
```

**CREATE Statement:**
```python
cursor.execute("CREATE DATABASE new_database_name")
conn.commit()  # Save the changes
```

In [35]:
cursor.execute("SELECT * FROM district")
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Hl.m. Praha', 'Prague', 1204953, 0, 0, 0, 1, 1, 100.0, 12541, 0.29, 0.43, 167, 85677, 99107)
(2, 'Benesov', 'central Bohemia', 88884, 80, 26, 6, 2, 5, 46.7, 8507, 1.67, 1.85, 132, 2159, 2674)
(3, 'Beroun', 'central Bohemia', 75232, 55, 26, 4, 1, 5, 41.7, 8980, 1.95, 2.21, 111, 2824, 2813)
(4, 'Kladno', 'central Bohemia', 149893, 63, 29, 6, 2, 6, 67.4, 9753, 4.64, 5.05, 109, 5244, 5892)
(5, 'Kolin', 'central Bohemia', 95616, 65, 30, 4, 1, 6, 51.4, 9307, 3.85, 4.43, 118, 2616, 3040)
(6, 'Kutna Hora', 'central Bohemia', 77963, 60, 23, 4, 2, 4, 51.5, 8546, 2.95, 4.02, 126, 2640, 3120)
(7, 'Melnik', 'central Bohemia', 94725, 38, 28, 1, 3, 6, 63.4, 9920, 2.26, 2.87, 130, 4289, 4846)
(8, 'Mlada Boleslav', 'central Bohemia', 112065, 95, 19, 7, 1, 8, 69.4, 11277, 1.25, 1.44, 127, 5179, 4987)
(9, 'Nymburk', 'central Bohemia', 81344, 61, 23, 4, 2, 6, 55.3, 8899, 3.39, 3.97, 149, 2987, 2487)
(10, 'Praha - vychod', 'central Bohemia', 92084, 55, 29, 4, 3, 5, 46.7, 10124, 0.56, 0.54, 141, 3810, 4316)
(11, 'Praha - zapad', 'central Bohemia', 75637, 35, 36, 9, 0, 7, 36.5, 9622, 0.45, 0.59, 154, 3475, 3529)
(12, 'Pribram', 'central Bohemia', 107870, 84, 29, 6, 1, 6, 58.0, 8754, 3.83, 4.31, 137, 3804, 3868)
(13, 'Rakovnik', 'central Bohemia', 53921, 61, 22, 1, 1, 2, 41.3, 8598, 2.77, 3.26, 123, 1597, 1875)
(14, 'Ceske Budejovice', 'south Bohemia', 177686, 69, 27, 10, 1, 9, 74.8, 10045, 1.42, 1.71, 135, 6604, 6295)
(15, 'Cesky Krumlov', 'south Bohemia', 58796, 22, 16, 7, 1, 5, 51.9, 9045, 3.13, 3.6, 124, 1845, 1879)
(16, 'Jindrichuv Hradec', 'south Bohemia', 93931, 74, 21, 10, 1, 8, 56.9, 8427, 1.12, 1.54, 107, 1874, 1913)
(17, 'Pelhrimov', 'south Bohemia', 74062, 99, 15, 4, 2, 7, 61.4, 8114, 2.38, 2.62, 119, 1003, 1181)
(18, 'Pisek', 'south Bohemia', 70699, 60, 13, 2, 1, 4, 65.3, 8968, 2.83, 3.35, 131, 1740, 1910)
(19, 'Prachatice', 'south Bohemia', 51428, 50, 11, 3, 1, 4, 52.7, 8402, 3.13, 3.98, 120, 999, 1099)
(20, 'Strakonice', 'south Bohemia', 70646, 94, 14, 3, 1, 4, 58.4, 8547, 2.65, 3.64, 120, 1563, 1542)
(21, 'Tabor', 'south Bohemia', 103347, 87, 16, 7, 1, 7, 67.0, 9104, 1.51, 2.07, 123, 2299, 2354)
(22, 'Domazlice', 'west Bohemia', 58400, 65, 16, 4, 1, 6, 52.4, 8620, 1.1, 1.25, 100, 1089, 1117)
(23, 'Cheb', 'west Bohemia', 87419, 21, 11, 4, 3, 9, 85.5, 8624, 1.79, 2.66, 102, 2879, 3198)
(24, 'Karlovy Vary', 'west Bohemia', 122603, 25, 21, 6, 2, 8, 80.0, 8991, 1.39, 2.01, 128, 5198, 5273)
(25, 'Klatovy', 'west Bohemia', 88757, 60, 33, 3, 2, 10, 61.7, 8554, 2.47, 2.68, 113, 1822, 2218)
(26, 'Plzen - mesto', 'west Bohemia', 170449, 0, 0, 0, 1, 1, 100.0, 10787, 2.64, 3.09, 131, 6041, 6261)
(27, 'Plzen - jih', 'west Bohemia', 67298, 71, 19, 10, 0, 7, 43.8, 8561, 0.65, 1.29, 110, 1029, 1127)
(28, 'Plzen - sever', 'west Bohemia', 72541, 66, 26, 10, 0, 8, 36.9, 8594, 1.62, 2.01, 112, 1580, 1525)
(29, 'Rokycany', 'west Bohemia', 45714, 52, 10, 5, 1, 6, 55.6, 8843, 2.82, 3.6, 113, 818, 888)
(30, 'Sokolov', 'west Bohemia', 94812, 15, 13, 8, 2, 10, 81.8, 9650, 3.38, 3.67, 100, 2985, 2804)
(31, 'Tachov', 'west Bohemia', 51313, 34, 12, 3, 1, 4, 59.2, 8930, 3.52, 4.2, 108, 1328, 1452)
(32, 'Ceska Lipa', 'north Bohemia', 105058, 32, 19, 7, 2, 10, 81.0, 9272, 2.8, 3.22, 118, 4340, 4505)
(33, 'Decin', 'north Bohemia', 133777, 24, 17, 7, 3, 11, 84.7, 8705, 5.75, 7.61, 116, 4650, 4859)
(34, 'Chomutov', 'north Bohemia', 125236, 28, 11, 1, 4, 5, 87.7, 9675, 6.43, 7.68, 100, 5323, 5190)
(35, 'Jablonec n. Nisou', 'north Bohemia', 88768, 10, 18, 5, 1, 7, 80.5, 8867, 1.02, 1.21, 130, 3384, 3620)
(36, 'Liberec', 'north Bohemia', 159617, 29, 19, 8, 1, 9, 85.2, 9198, 3.33, 4.28, 131, 5796, 6132)
(37, 'Litomerice', 'north Bohemia', 114006, 71, 26, 6, 2, 9, 62.3, 9065, 4.46, 5.39, 123, 4147, 4166)
(38, 'Louny', 'north Bohemia', 85852, 41, 23, 4, 2, 4, 59.8, 8965, 7.08, 8.23, 104, 2653, 2822)
(39, 'Most', 'north Bohemia', 119895, 17, 4, 3, 2, 4, 89.9, 10446, 7.34, 9.4, 90, 4947, 4743)
(40, 'Teplice', 'north Bohemia', 128118, 9, 16, 6, 3, 8, 85.3, 9317, 6.49, 7.07, 97, 6949, 6872)
(41, 'Usti nad Labem', 'north Bohemia', 118650, 8, 8, 5, 1, 3, 85.6, 9832, 3.32, 4.48, 114, 6445, 5471)
(42, 'Havlickuv Brod', 'east Bohemia', 95907, 87, 25, 5, 2, 7, 59.1, 8388, 2.41, 2.94, 87, 1658, 1668)
(43, 'Hradec Kralove', 'east Bohemia', 161854, 73, 21, 6, 1, 6, 76.3, 9425, 1.72, 2.5, 125, 4085, 3891)
(44, 'Chrudim', 'east Bohemia', 105606, 77, 26, 7, 2, 7, 53.0, 8254, 2.79, 3.76, 97, 2166, 2325)
(45, 'Jicin', 'east Bohemia', 77917, 85, 19, 6, 1, 5, 53.5, 8390, 2.28, 2.89, 132, 2080, 2122)
(46, 'Nachod', 'east Bohemia', 112709, 48, 20, 7, 3, 10, 73.5, 8369, 1.79, 2.31, 117, 2854, 2618)
(47, 'Pardubice', 'east Bohemia', 162580, 83, 26, 5, 1, 6, 72.8, 9538, 1.51, 1.81, 111, 6079, 5410)
(48, 'Rychnov nad Kneznou', 'east Bohemia', 78955, 50, 24, 8, 1, 9, 59.0, 9060, 1.78, 2.44, 124, 1655, 1717)
(49, 'Semily', 'east Bohemia', 75685, 31, 28, 5, 1, 9, 60.8, 8208, 1.89, 2.26, 155, 1660, 2123)
(50, 'Svitavy', 'east Bohemia', 102609, 75, 33, 2, 3, 6, 52.0, 8187, 4.83, 5.45, 94, 2123, 2134)
(51, 'Trutnov', 'east Bohemia', 121947, 37, 28, 7, 3, 11, 70.5, 8541, 2.51, 2.97, 131, 3496, 3839)
(52, 'Usti nad Orlici', 'east Bohemia', 139012, 59, 41, 8, 3, 10, 61.9, 8363, 2.52, 3.49, 108, 2564, 2799)
(53, 'Blansko', 'south Moravia', 107911, 88, 33, 6, 2, 7, 50.9, 8240, 2.53, 3.56, 99, 1850, 1903)
(54, 'Brno - mesto', 'south Moravia', 387570, 0, 0, 0, 1, 1, 100.0, 9897, 1.6, 1.96, 140, 18721, 18696)
(55, 'Brno - venkov', 'south Moravia', 157042, 49, 70, 18, 0, 9, 33.9, 8743, 1.88, 2.43, 111, 3659, 3894)
(56, 'Breclav', 'south Moravia', 124605, 11, 42, 14, 1, 8, 46.0, 8772, 4.69, 4.98, 126, 2854, 3158)
(57, 'Hodonin', 'south Moravia', 161954, 21, 37, 20, 3, 8, 48.0, 8720, 3.73, 4.5, 116, 3729, 3651)
(58, 'Jihlava', 'south Moravia', 109164, 98, 16, 6, 1, 4, 63.6, 8757, 3.38, 3.95, 96, 2212, 2471)
(59, 'Kromeriz', 'south Moravia', 108871, 41, 29, 7, 2, 6, 62.1, 8444, 3.24, 3.47, 106, 2595, 2305)
(60, 'Prostejov', 'south Moravia', 110643, 49, 41, 4, 1, 4, 51.9, 8441, 3.45, 4.48, 115, 1879, 2252)
(61, 'Trebic', 'south Moravia', 117897, 139, 28, 5, 1, 6, 53.8, 8814, 4.76, 5.74, 107, 2112, 2059)
(62, 'Uherske Hradiste', 'south Moravia', 145688, 22, 41, 13, 2, 5, 40.7, 8544, 1.29, 1.86, 109, 2719, 2906)
(63, 'Vyskov', 'south Moravia', 86513, 38, 36, 5, 1, 5, 50.5, 8288, 3.79, 4.52, 110, 1562, 1460)
(64, 'Zlin', 'south Moravia', 197099, 29, 41, 10, 2, 10, 74.7, 9624, 1.6, 2.31, 145, 4484, 4265)
(65, 'Znojmo', 'south Moravia', 114200, 101, 41, 4, 1, 4, 43.7, 8403, 5.74, 5.72, 105, 2157, 2718)
(66, 'Zdar nad Sazavou', 'south Moravia', 125832, 151, 41, 2, 3, 5, 48.3, 8512, 3.51, 4.12, 102, 2247, 2103)
(67, 'Bruntal', 'north Moravia', 106054, 38, 25, 6, 2, 6, 63.1, 8110, 5.77, 6.55, 109, 3244, 3079)
(68, 'Frydek - Mistek', 'north Moravia', 228848, 15, 40, 18, 2, 6, 57.2, 9893, 4.09, 4.72, 96, 5623, 5887)
(69, 'Jesenik', 'north Moravia', 42821, 4, 13, 5, 1, 3, 48.4, 8173, 0.0, 7.01, 124, 0, 1358)
(70, 'Karvina', 'north Moravia', 285387, 0, 2, 8, 5, 7, 89.9, 10177, 6.63, 7.75, 81, 9878, 10108)
(71, 'Novy Jicin', 'north Moravia', 161227, 5, 35, 11, 4, 10, 69.7, 8678, 5.93, 5.57, 102, 4980, 4595)
(72, 'Olomouc', 'north Moravia', 226122, 32, 50, 7, 4, 4, 62.6, 8994, 3.8, 4.79, 110, 9672, 9208)
(73, 'Opava', 'north Moravia', 182027, 17, 49, 12, 2, 7, 56.4, 8746, 3.33, 3.74, 90, 4355, 4433)
(74, 'Ostrava - mesto', 'north Moravia', 323870, 0, 0, 0, 1, 1, 100.0, 10673, 4.75, 5.44, 100, 18782, 18347)
(75, 'Prerov', 'north Moravia', 138032, 67, 30, 4, 2, 5, 64.6, 8819, 5.38, 5.66, 99, 4063, 4505)
(76, 'Sumperk', 'north Moravia', 127369, 31, 32, 13, 2, 7, 51.2, 8369, 4.73, 5.88, 107, 3736, 2807)
(77, 'Vsetin', 'north Moravia', 148545, 8, 35, 12, 3, 4, 53.5, 8909, 4.01, 5.56, 113, 3460, 3590)

### Example: CoffeeShop DB üìí‚òï

We're going to use a simple, relatable example: setting up a database for a coffee shop.

1. **Create** our `CoffeeShop` database.
2. **Create** a table to list various coffee items (coffee id, coffee name, price).
3. **Insert** coffee menu items into our table.
4. **Query** our table to view the items we've added.

Let's create a CoffeeShop database.

In [ ]:
# Create CoffeeShop Database
cursor.execute("CREATE DATABASE IF NOT EXISTS CoffeeShop")

In [ ]:
# Switch to the CoffeeShop Database
cursor.execute("USE CoffeeShop")

Create a Menu Table: We'll create a table called Menu with columns for coffee name and its price.

In [ ]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS Menu (
    coffee_id INT AUTO_INCREMENT PRIMARY KEY,
    coffee_name VARCHAR(255) NOT NULL,
    price DECIMAL(5,2) NOT NULL
)
""")
print("Table Menu created successfully!")

Let's insert values into the table:

In [ ]:
# Insert Coffee Items into Menu Table
menu_items = [
    ("Espresso", 2.50),
    ("Cappuccino", 3.00),
    ("Latte", 3.50),
    ("Americano", 2.00),
    ("Mocha", 3.75)
]

cursor.executemany("INSERT INTO Menu (coffee_name, price) VALUES (%s, %s)", menu_items)
conn.commit()
print(f"{cursor.rowcount} coffee items inserted!")

Finally, lets see our data!

In [ ]:
# Select and Display Coffee Items from Menu Table
cursor.execute("SELECT coffee_name, price FROM Menu ORDER BY price DESC")
results = cursor.fetchall()

pd.DataFrame(results)

## Closing the Connection:
After performing database operations, remember to close the cursor and the connection.

```python
cursor.close()
conn.close()
```

In [ ]:
# Close the cursor and the connection.
cursor.close()
conn.close()